:root{
    --body-back : #ffeed9;
    --menu-back : #3f575e;
    --menu-yazi : #9AA8B3;
}


body{
    background-color:var(--body-back);
    font-family: 'Roboto', sans-serif;    
}

.navbar-default{
    background-color: var(--menu-back);
    color:var(--menu-yazi);
}

.ust_menu{
    
}


